zmodules=(directory environment git git-info history input utility custom \
          prompt completion history-substring-search \
          archive autosuggestions)

zprompt_theme='eriner'
ztermtitle='%n@%m:%~'
