zmodule environment
zmodule input
zmodule termtitle
zmodule utility

zmodule git-info
zmodule archive

zmodule romkatv/powerlevel10k
zmodule zsh-users/zsh-completions
zmodule completion
zmodule zsh-users/zsh-autosuggestions
zmodule zdharma/fast-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule romkatv/powerlevel10k
