zmodules=(directory environment git git-info history input utility custom \
          syntax-highlighting history-substring-search prompt completion \
          archive autosuggestions)

zprompt_theme='eriner'
ztermtitle='%n@%m:%~'

zhighlighters=(main brackets)
